In [86]:
import random
import pandas as pd

# Lista de números
restrictions = {
    'Monica': {36,37,38,39,48,58,86,87,91,93,94,95,96,97,98,99,100,101},  
    'Adriana': {65,66,67,68,74,75,76,78,79,80,81,82,83,84,85},   
    'Juan': {50,51,60,61,70,112},  
    'Carina': {41,52,53,55,56,57,62,64,88,92,104},  
    'Silvia': {69,71,72,73,77,117},
    'Raúl': {105,106,107,108,109,110,111,115,116},
    'Darimar': {118,119,120,121,122,123,124,125,126,127,128,129,130},
    'Emiliano': {131,132,133,134,135,136,137,138,139,140},  
}
all_numbers = [value for sublist in restrictions.values() for value in sublist]
all_numbers.sort()

def assign_numbers(restrictions,all_numbers):
    # Inicializar el diccionario de asignaciones
    assignments = {el:[] for el in restrictions.keys()}
   
    # Lista de números disponibles para cada elemento
    available_numbers = {el: [num for num in all_numbers if num not in restrictions[el]] for el in restrictions.keys()}

    for el in restrictions.keys():
        if len(available_numbers[el]) < 11:
            raise ValueError(f"No hay suficientes números disponibles para el elemento {el} con las restricciones dadas.")
    
    for _ in range(11):
        for el in restrictions.keys():
            # Elegir un número aleatorio de los disponibles para el elemento
            num = random.choice(available_numbers[el])
            assignments[el].append(num)
            # Eliminar el número elegido de todos los conjuntos disponibles
            all_numbers.remove(num)
            for k in available_numbers:
                if num in available_numbers[k]:
                    available_numbers[k].remove(num)
    
    return assignments

assignments = assign_numbers(restrictions,all_numbers.copy())
#print(assignments)

df = pd.DataFrame(assignments.values(),index=assignments.keys())
df

{'Monica': [132, 68, 84, 51, 109, 50, 110, 130, 122, 112, 128], 'Adriana': [48, 131, 71, 93, 62, 96, 73, 105, 136, 115, 95], 'Juan': [116, 133, 53, 52, 111, 92, 139, 69, 57, 125, 124], 'Carina': [60, 129, 65, 137, 121, 99, 140, 134, 72, 107, 101], 'Silvia': [126, 67, 118, 135, 87, 39, 120, 81, 104, 38, 94], 'Raúl': [117, 76, 78, 85, 88, 80, 58, 123, 75, 37, 119], 'Darimar': [41, 100, 83, 97, 55, 138, 98, 61, 77, 106, 82], 'Emiliano': [56, 70, 79, 64, 91, 86, 36, 108, 66, 74, 127]}

           0    1    2    3    4    5    6    7    8    9    10
Monica    132   68   84   51  109   50  110  130  122  112  128
Adriana    48  131   71   93   62   96   73  105  136  115   95
Juan      116  133   53   52  111   92  139   69   57  125  124
Carina     60  129   65  137  121   99  140  134   72  107  101
Silvia    126   67  118  135   87   39  120   81  104   38   94
Raúl      117   76   78   85   88   80   58  123   75   37  119
Darimar    41  100   83   97   55  138   98   61   77  106   82
Emiliano   56   70   79   64   91   86   36  108   66   74  127